.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  padding: 16px;
}

.gridItem {
  position: relative;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proTitle {
  display: none;
}
.gridItem:hover {
  .proTitle {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-primary);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
